.section-top{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__text{
        color: white;
        text-align: center;
        height: 10rem;
    }
    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__upload{
        background-color: lightgray;
        border-radius: 4rem;
        padding: .5rem 3rem;
    }
}